.dflex {
    justify-content: center;
    text-align: center;
    display: flex;
}
img {
    width: 6rem;
    aspect-ratio: 1;
}
.modal-header {
    // background: #8e2de2;
    // background: -webkit-linear-gradient(to left, #4f10cb, #8e2de2);
    // background: linear-gradient(to left, #4a00e0, #8e2de2);\
    background: darkblue !important;
}
.modal-content {
    border: none !important;
}
.modal {
    background-color: rgb(0, 0, 0, 0.6);
}
.closebutton {
    color: white;
}
.example-card {
    max-width: 300px;
    margin-bottom: 2%;
    margin-right: 2%;
    color: #b7cadb;
}
@media (max-width: 420px) {
    .example-card {
        max-width: none;
    }
}
.modalbody {
    padding: 1rem;
}

.card-title {
    color: #1a076c;
}
h5 {
    font-weight: 700;
}
.card-text {
    font-weight: 500;
    color: #a5a2a2;
}
* {
    font-family: "poppins", sans-serif;
}
li {
    list-style: none;
}
nav {
    background-color: darkblue !important;
}
.card {
    border: 0;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.text-c {
    color: #a7a7db;
}
.bg-forrow {
    background-color: #eeeefa;
}
.textCen {
    font-weight: 800;
}
label {
    font-weight: 600;
    color: #3c4ac8;
}
input {
    color: #a49e9e;
}
.scrollbar {
    height: 450px;
    overflow-y: scroll;
    // margin-top: 25px;
    // margin-bottom: 25px;
}
#style-1::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(2, 2, 2, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #22577e;
}
// .leftbutton {
//     margin-left: 3rem;
// }
ul {
    padding: 0;
    margin: 0;
}
ul li {
    padding: 13px 0;
    color: #f1f1f1;
    display: flex;
    align-items: center;
}
ul li p {
    padding: 0 10px;
    margin: 0;
    transition: all 20s;
}

.likeUl {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideNav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1a076c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
main {
    margin-left: 60px;
    transition: margin-left 0.5s;
}
.show {
    display: block;
    // visibility: visible;
    opacity: 1;
    transition: 0.5s ease;
}
.none {
 
    display: none;
    opacity: 0;
    // visibility: hidden;
    transition: 0.5s ease;
}
@media (max-width: 500px) {
    .sideNav {
        width: 0;
    }
    main {
        margin-left: 0;
    }
       
}