.dcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap {
    height: 100vh;
}
.bg-beiege {
    background-color: #e7e7e7;
}
.container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 15px;
}
.inputbox {
    border: none;
    // border-bottom: 1px solid #000;
    border-radius: 0;
    padding: 2% 0;
}
::placeholder {
    color: #ddd;
    font-size: 12px;
}
.loginPanel {
    margin-top: 2rem;
}
.form-control:focus {
    border: none;
    // border-bottom: 0.2px solid #000;
    box-shadow: none;
}
.signUP {
    font-size: 12px;
    color: red;
}
.text {
    /* float: left; */
    font-size: small;
}

#login {
    height: 100vh;
    background-color: #e7e7e7;
}
.imgprop {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
button {
    width: 25%;
}
input {
    border: 1px solid #d8ebf7;
}
input:focus {
    border: 1px solid #d8e6f4;
    box-shadow: none;
}
span {
    font-size: 15px;
}
button {
    width: 25%;
}
h1 {
    font-size: 32px;
    line-height: 28px;
    font-weight: 800;
    color: #242f9b;
    font-family: "Roboto Slab";
}
label {
    font-size: 15px;
    font-weight: 400;
    color: #231955;
    line-height: 18px;
}
.invalid-feedback{
    font-size: 15px;
}