


<section class="attendance-header pt-2">
    <div class="container">
       <form [formGroup]="addAttendance" (ngSubmit)="attendanceDetails(addAttendance.value)">
       <div class="row"> 
         <div class="col-md-4">
             <label class="form-label">CheckIn</label>
             <input type="datetime-local" class="form-control" formControlName="inTime">
             <span class="text-danger" *ngIf="!addAttendance.controls['inTime'].valid && 
             addAttendance.controls['inTime']?.touched">CheckIn Time is required *</span>
         </div>
         
           <div class="col-md-4">
             <label class=" form-label">CheckOut</label>
             <input type="datetime-local" class="form-control" formControlName="outTime">
             <span class="text-danger" *ngIf="!addAttendance.controls['outTime'].valid && 
             addAttendance.controls['outTime']?.touched">CheckOut Time is required *</span>
           </div>
          
           <div class="col-md-4 addattendance">
        
           <button type="submit" class="btn btn-primary ">Submit</button>

         </div>
          </div>
       </form>
     </div>
</section>
 <section class="tbl mt-5">
   <div class="container">
   
         <table>
           <thead>
             <tr>
               <th scope="col">Date&nbsp;&nbsp;</th>
               <th scope="col">CheckIn</th>
               <th scope="col">CheckOut</th>
               <th scope="col">Workduration</th>
               <th scope="col">Status</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let item of attDetails ">
               <td class="col-md-2">
                 {{item.date|date:'yyyy-MM-dd'}}
               </td>
               <td  class="col-md-2">
                 {{item.inTime|date:'hh:mm'}} &nbsp;AM
               </td>
               <td  class="col-md-2">
                 {{item.outTime|date:'hh:mm'}}&nbsp;PM
               </td>
               <td  class="col-md-2">
                 {{item.workDuration}} &nbsp;&nbsp; Working Hours
               </td>
               <td  class="col-md-2">
                 {{item.status}}
               </td>
             </tr>
           </tbody>
         </table>
       </div>
     </section>
